<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">ITmap</h5>
                <p class="grey-text text-lighten-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Suspendisse venenatis ipsum nunc, quis hendrerit ante cursus sed. 
                    Donec id mi a est aliquet lacinia sit amet vel urna. 
                    Nam aliquet varius mauris quis sagittis. 
                    Vestibulum ut malesuada massa, at egestas velit. 
                    Aliquam et dolor diam. Nulla facilisi. 
                    Nullam venenatis a libero ac pretium. 
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Меню</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/search">Курсы</a></li>
                    <li><a class="grey-text text-lighten-3" href="/blog">Новости</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">© 2018 All rights reserved.</div>
    </div>
</footer>