<header>
    <nav class="grey darken-4 grey-text">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo cyan-text">
                <span style="font-weight: bold; font-size: 34px;">IT</span>map
            </a>
            <a href="/" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/search">Курсы</a></li>
                <li><a href="/blog">Новости</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/search">Курсы</a></li>
                <li><a href="/blog">Новости</a></li>
            </ul>
        </div>
    </nav>
</header>