{% extends "layout.html" %}


{% block main %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br><br><br><br><br><br><br><br><br><br>
            <h1 class="header center cyan-text text-darken-4" style="font-family: 'Courier New', Courier, monospace">Весь мир IT</h1>
            <div class="row center">
                <h5 class="header col s12 light">Найдите лучшие именно для Вас курсы программирования</h5>
            </div>
            <div class="row center">
                <a href="/search" id="download-button" class="btn-large waves-effect waves-light cyan-darken-4">Найти курсы</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="static/img/background/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
    
    
<div class="container">
    <div class="section">
        <div class="row">
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">computer</i></h2>
                <h5 class="center">Курсы</h5>

                <p class="light">
                    Java, C#/.NET, PHP, JavaScript, HTML/CSS, Python, Ruby, 
                    Project Management, Q/A тестирования,  
                    IT направленного бизнеса, анлиза данных 
                    и других направлений IT любой сложности от Junior до Andavnced уровня
                </p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">check_box</i></h2>
            <h5 class="center">Тесты</h5>

            <p class="light">
                Каков Ваш уровень знания языка программирования ? 
                А если еще не определились - какой язык 
                программирования лучше всего Вам подойдет ?
                на эти и другие вопросы помогут ответить наши тесты. 
            </p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">note</i></h2>
            <h5 class="center">Новости</h5>

            <p class="light">
                Последние апдейты из мира IT.    
                Последние апдейты из мира IT.    
                Последние апдейты из мира IT.    
                Узнавайте последние новости первыми!    
                Узнавайте последние новости первыми!    
                Узнавайте последние новости первыми!
            </p>
            </div>
        </div>
        </div>

    </div>
    </div>


    <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
        <div class="row center">
            <h5 class="header col s12 light">
                Ближайшие к Вам курсы выбранной специальности, заданного уровня, все это вы найдете у нас.   
            </h5>
        </div>
        </div>
    </div>
    <div class="parallax"><img src="static/img/background/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
    <div class="section">

        <div class="row">
        <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Школы</h4>
            <p class="left-align light">
                Тут вероятно будет реклама школ
            </p>
        </div>
        </div>

    </div>
    </div>
    
    
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
        <div class="row center">
            <h5 class="header col s12 light">А может и тут</h5>
        </div>
        </div>
    </div>
    <div class="parallax"><img src="static/img/background/background3.jpeg" alt="Unsplashed background img 3"></div>
</div>
{% comment %} <section class="container-fluid" id="COMPANIES">
    <div class="row">
        {% for company in locale.main.companies %}
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="card">
                    <div class="view overlay" style="background-image: url('{{ company.imgurl }}');"></div>
                    <div class="card-body">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="{{ company.url }}" class="btn btn-primary">{{ locale.main.details }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% comment %} <div data-meta="courses">
        <div>ITEA</div>
        <div>CyberBionic Systematics</div>
        <div>hillel</div>
        <div>SourceIT</div>
        <div>GoIT</div>
        <div>Web Academy</div>
        <div>и другие</div>
    </div> {% endcomment %}
    {% comment %} плата за попадение в топ каталога {% endcomment %}
    {% comment %} </section>
    <section id="TESTS">
        <a name="pickup"></a>
        Пройдите тесты и определите лучший для вас язык программирования. 
        Если вы уже определились, вы также можете узнать уровень квалификации 
        пройдя следующие тесты   
        <div data-meta="languages">
            <div>Java</div>
            <div>C#/.NET</div>
            <div>ObjectiveC/Swift/iOS</div>
            <div>C/C++</div>
            <div>Frontend(HTML/CSS/JS)</div>
            <div>PHP/mySQL</div>
            <div>Python</div>
        </div>
        <button type="button" class="btn btn-default btn-lg">Все тесты</button>
    </section> {% endcomment %}
{% endblock %}