{% load static %}


<script src="{% static 'js/libs/mdb/mdb.min.js' %}"></script>

<header>
    <a class="logo" href="/{{ locale.language }}">
        <span class="name">IT<span>map</span></span>
    </a>
    <ul class="menu">
        {% for paragraph, content in locale.header.paragraphs.items %}
            {% if content.entries %}  
                 <li class="dropdown">
                    <a href='/{{locale.language}}/{{content.link}}'>{{ content.title }}</a>
                    <ul>
                         {% for item in content.entries %}
                            <li class="dropside">
                                <a href="">{{ item.title }}</a>
                                {% if item.entries %}
                                    <ul>
                                        {% for subItem in item.entries %}
                                            <li><a href="">{{ subItem.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %} 
                    </ul>
                </li> 
            {% else %}
                <li><a href='/{{locale.language}}/{{content.link}}'>{{ content.title }}</a></li>
            {% endif %}  
        {% endfor %}
    </ul>
    <div class="lang">
        <a class="ru {% if locale.language == 'ru' %}selected{% endif %}" href="/ru{{ location }}">RU</a>
        <a class="ua {% if locale.language == 'ua' %}selected{% endif %}" href="/ua{{ location }}">UA</a>
    </div>
</header>