section {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 500px;
    min-height: 400px;
    text-align: center;
}

section:nth-child(2n) {
    background: var(--grey);
}

#INTRO,
#COURSES,
#COMPANIES,
#TESTS {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#INTRO {
    padding-top: 230px;
    background-image: url("../img/techno/mac2.jpg");
    min-height: 1000px;
}

#COURSES {
    min-height: 1000px;
}

#COMPANIES {
    background-image: url("../img/techno/main.jpeg");
    min-height: 1000px;
}

#COMPANIES .card {
    height: 500px;
    padding: 5px;
}

#COMPANIES .card .overlay {
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#COMPANIES .card .card-body {
    position: absolute;
    bottom: 10px;
}

#COMPANIES .card .card-title {
    color: var(--black);
}

#COMPANIES .card .card-text {
    padding-right: 5px;
    text-align: left;
    font-size: 1em;
    line-height: 20px;
}

#TESTS {
    min-height: 1000px;
}

h1 {
    color: var(--white);
    font-family: Roboto-Light;
    user-select: none;
}
