body {
    background: #eee;
}

@font-face {
    font-family: Akashi; 
    src: url('fonts/Akashi.ttf');
}

@media only screen and (min-width: 600px) {
    .nav-wrapper {
        padding: 0 10px;
    }
}

.brand-logo {
    user-select: none;
    font-family: 'Akashi', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.parallax-container {
    height: 600px;
}