<address>
    pnn-group@pnn.in.ua
</address>

<main>
    <span>
        Всем привет ! 
    </span>
    <span>
        Сегодня и мой последний день в компании PNNSoft
    </span>
    <span>
        Я искренне благодарен всем с кем довелось работать, за все
        чему у вас научился. Отдельные благодарности руководству компании, 
        за возможность попробовать себя в разных проектах.
    </span>
    <span>
        Желаю вам всем идти за своими мечтами, быть терпеливыми и настойчивыми, 
        усердно работать, и, как говорил Уинстон Черчилль:
        никогда, никогда, ... , никогда не сдаваться.  
    </span>
    <span>
        Удачи и успехов !
    </span>
</main>