{% extends "layout.html" %}


{% block main %}
<main>
    <section id="INTRO">
        <h1 class="h1-responsive">
            ITmap - ваш навигатор в мире технологий
        </h1>
        <a class="btn btn-primary btn-lg waves-effect" role="button">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Курсы
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a> 
        <a class="btn btn-primary btn-lg waves-effect" role="button">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Тесты
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
    </section>
    <section id="COURSES">
        <p class="lead">
            Только у нас вы сможете <a href="#pickup">подобрать наилучший для себя 
            язык программирования </a> и <a href="/search"> найти подходящие курсы </a>
        </p>
        {% comment %} List group {% endcomment %}
        <div data-meta="languages">
            <div>Java</div>
            <div>C#/.NET</div>
            <div>ObjectiveC/Swift/iOS</div>
            <div>C/C++</div>
            <div>Frontend(HTML/CSS/JS)</div>
            <div>PHP</div>
            <div>Python</div>   
            <div>Ruby</div>   
        </div>
        
        <a class="btn btn-primary btn-lg" role="button">Все курсы</a>
    </section>
    <section class="container-fluid" id="COMPANIES">
        <div class="row">
            {% for company in locale.main.companies %}
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <div class="card">
                        <div class="view overlay" style="background-image: url('{{ company.imgurl }}');"></div>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="{{ company.url }}" class="btn btn-primary">{{ locale.main.details }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        {% comment %} <div data-meta="courses">
            <div>ITEA</div>
            <div>CyberBionic Systematics</div>
            <div>hillel</div>
            <div>SourceIT</div>
            <div>GoIT</div>
            <div>Web Academy</div>
            <div>и другие</div>
        </div> {% endcomment %}
        {% comment %} плата за попадение в топ каталога {% endcomment %}
    </section>
    <section id="TESTS">
        <a name="pickup"></a>
        Пройдите тесты и определите лучший для вас язык программирования. 
        Если вы уже определились, вы также можете узнать уровень квалификации 
        пройдя следующие тесты   
        <div data-meta="languages">
            <div>Java</div>
            <div>C#/.NET</div>
            <div>ObjectiveC/Swift/iOS</div>
            <div>C/C++</div>
            <div>Frontend(HTML/CSS/JS)</div>
            <div>PHP/mySQL</div>
            <div>Python</div>
        </div>
        <button type="button" class="btn btn-default btn-lg">Все тесты</button>
    </section>
</main>
{% endblock %}
