$white: white;
$grey: #EDEDED;
$blue: #4285f4;
$lime: #0A9993;
$black: #2B2A29;
$transparent: transparent;
$menu-base-color: $white;
$menu-hover-color: $grey;
$menu-support-color: $blue;


@font-face {
    font-family: Roboto-Black;
    src: url('../font/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../font/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../font/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../font/Roboto/Roboto-Regular.ttf');
}


body {
    margin: 0;
    font-family: Roboto-Regular;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/main.jpeg');
    background-size: 100%;
    // background: $grey;
}

content {
    position: relative;
    top: 60px;
    height: 100%;
}

main {
    padding-left: 0; 
    padding-right: 0; 
}

a {
    &:link {
        text-decoration: none;
    }
    &:focus, &:active, &:hover, &:visited {}
}

section {
    position: relative;
    padding: 20px;
    width: 100%;
    min-height: 400px; 
    text-align: center;
}

section:nth-child(2n) {
    background: $white;
}

section:nth-child(2n+1) {
    background: $transparent;
}

#INTRO {
    height: 100%;
}