$white: white;
$grey: #EDEDED;
$blue: #4285f4;
$lime: #0A9993;
$black: #2B2A29;
$transparent: transparent;
$menu-base-color: $white;
$menu-hover-color: $grey;
$menu-support-color: $blue;


@font-face {
    font-family: Roboto-Black;
    src: url('../font/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../font/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../font/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../font/Roboto/Roboto-Regular.ttf');
}


body {
    height: 100%;
    margin: 0;
    font-family: Roboto-Regular;
    background: $grey;
}

content {
    position: relative;
    height: 100%;
}

main {
    padding-left: 0 !important; 
    padding-right: 0 !important; 
}

.row {
    margin: 0;
}

a {
    &:link {
        text-decoration: none;
    }
    &:focus, &:active, &:hover, &:visited {}
}

section {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 500px;
    min-height: 400px; 
    text-align: center;
}

section:nth-child(2n) {
    background: $grey;
}

#INTRO, #COURSES, #COMPANIES, #TESTS {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#INTRO {
    padding-top: 230px; 
    background-image: url("../img/techno/mac2.jpg");
    min-height: 1000px;
}

#COURSES {
    min-height: 1000px;
}

#COMPANIES {
    background-image: url("../img/techno/main.jpeg");
    min-height: 1000px;
}

#TESTS {
    min-height: 1000px;
}

h1 {
    color: $white;
    font-family: Roboto-Light;
    user-select: none;
}