footer {
    position: static;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: $black;
}

footer .h1 {
    color: $black;
    text-shadow: 0 0 3px rgba(255,255,255,0.1);
    font-size: 100px;
}