body {
    background: white; 
}

.metro .dropdown-header[data-optgroup="1"] span { color: red; }
.metro .dropdown-header[data-optgroup="2"] span { color: blue; }
.metro .dropdown-header[data-optgroup="3"] span { color: green; }

.red-line {

}
.blue-line {}
.green-line {}