{% load static %}


<!DOCTYPE html>
<html lang={{ locale.language }}>
<head>
    <title>{{ locale.meta.title }}</title>
    <meta name="description" content="{{ locale.meta.description }}">
    <meta name="keywords" content="{{ locale.meta.keywords|join:', ' }}">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">


    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/mdb/mdb.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
    <!-- STYLES -->


    <!-- SCRIPTS -->
    <script src="{% static 'js/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/libs/mdb/mdb.min.js' %}"></script>
    <script src="{% static 'js/libs/mdb/waves-effect.js' %}"></script>
    <script src="{% static 'js/libs/mdb/collapsible.js' %}"></script>
    <script src="{% static 'js/libs/mdb/dropdown.js' %}"></script>
    <script src="{% static 'js/libs/mdb/wow.js' %}"></script>
    <!-- SCRIPTS -->
</head>
<body>
    {% include "partials/header.html" %} 

    <content class="container-fluid">
        {% block main %} {% endblock %} 
    </content>

    {% include "partials/footer.html" %}
</body>
</html>